<div class="products-container">
    <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
            {{#each productos}}
            <tr>
               <td>{{this.id}}</td>
              <td>{{this.product}}</td>
              <td>{{this.description}}</td>
              <td>{{this.price}}</td>
              <td><img src={{this.photo}} width="150" ></td>
            </tr>
             {{/each}}
        </tbody>
    </table>
</div>
